:root {
    --preto: #000000;
    --branco: #ffffff;
    --amarelo: #f5ba25;
    --hover: #696969;
    --cinza: #F2EEEE;
  }

  
.logo{
    position: absolute;
    width: 162px;
    height: 66px;
    left: 69px;
    top: 43px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 66px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.08em;

    color: #000000;
}

.icons{
  position: absolute;
  width: 141px;
  height: 24px;
  left: 1100px;
  top: 49px;

}
    



.mensagem p{
    
position: absolute;
width: 267px;
height: 30px;
left: 69px;
top: 217px;

}
.bannerEntrega{
    
position: absolute;
left: 70%;
right: 80%;
top: 50%;
bottom: 15%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
  button {
    cursor: pointer;
  }
  
  main {
    margin: 0;
    display: flex;
   
  }
  .mensagem  { 
    position: absolute;
    width: 267px;
    height: 30px;
    left: 69px;
    top: 217px;
  }
  
  input {
  
    justify-content:flex-end;
    flex-direction: column;
    background-color: var(--cinza);
    border: solid 1px var(--cinza);
    padding: 8px;
    margin-bottom: 10px;
    width: 350px;
    height: 45px;
    margin-bottom: 15px;
  }
  
  .botao-enviar {
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 5px;
    border: 3px solid var(--preto);
    background-color: var(--preto);
    color: var(--branco);
   
  }
  
  .formularioLogin input {
    justify-content:flex-end;
    flex-direction: column;
    background-color: var(--cinza);
    border: solid 1px var(--cinza);
    padding: 8px;
    width: 350px;
    height: 45px;
    margin-bottom: 20px;
    margin-bottom: 30px;
  }
  .bannerLogin{
  
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
  }
  .bannerLogin {
    margin: 0px 60px;
    width: 450px;
    height: 350px;
    }
     .formularioLogin{
      max-width: 100%;
      width: 200px ;
      height: 15px;
    }
    .formularioLogin{
  
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .botao-enviar {
    font-size: 25px;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 5px;
    border: 3px solid var(--preto);
    background-color: var(--preto);
    color: var(--branco);
  }
  
  .bt-login
  {
   align-items: center;
   margin:30px 100px ;
  
  }
  footer{
    position:absolute;
    width: 437px;
    height: 24px;
    left: 507px;
    top: 961px;
  }

  