<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/acompanharPedido.css" />
  <link rel="stylesheet" href="/stylesheets/shared/header-icons.css">

  <script src="../scripts/shoppingCart.js" defer></script>
  <link rel="shortcut icon" href="/media/icons/logo.png" />
  <title>SHOEFIE</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="logo">
        <a href="/">SHOEFIE</a>
      </div>

      <div class="icons">
        <a href="/pedidos/shipping"><img src="../media/icons/truck.svg" alt=""></a>
        <a href="/usuarios/profile"><img src="../media/icons/user.svg" alt=""></a>
        <a href="/carrinho"><img src="../media/icons/shopping-bag.svg" alt=""></a>
        <a href="/usuarios/logoff"><img src="../media/icons/log-out.svg" alt=""></a>
      </div>
    </header>

    <div class="pedido-box">
      <div>
        <p class="acompanhe">Acompanhe seus pedidos</p>
      </div>
      <div class="box-top">
        <div>
          <p class="pedido">Nº do pedido</p>
        </div>
        <div>
          <p class="boleto">Boleto</p>
        </div>
        <div>
          <p class="preco">Preço</p>
        </div>
      </div>

      <div id="acompanhe-box">
        <div class="box-id" id="box-id">
          <div class="produto-nome">
            <p><strong>2132131</strong></p>
          </div>

          <div class="boletoCode">
            <p></p>
          </div>

          <div class="boleto-valor">
            <p>R$ 250.00</p>
          </div>
        </div>
      </div>
    </div>

</body>

<footer> SHOEFIE © todos os direitos reservados</footer>

</html>