<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/stylesheets/acompanharPedido.css" />
    <!-- <link rel="stylesheet" href="/public/stylesheets/home.css" /> -->
    <link rel="stylesheet" href="/public/stylesheets/shared/header-icons.css">


    <script src="../public/scripts/shoppingCart.js" defer></script>

    <title>SHOEFIE</title>
  </head>

  <body>
    <div class="container">
    <header>
        <div class="logo">SHOEFIE</div>
        <div class="icons">
          <img src="../public/media/icons/truck.svg" alt="Acompanhar envio" />
          <img src="../public/media/icons/user.svg" alt="Perfil" />
          <img
          src="../public/media/icons/shopping-bag.svg"
          alt="Carrinho de compras"
          />
          <img src="../public/media/icons/log-out.svg" alt="Logout" />
        </div>
      </header>
        

        <h2>Acompanhar pedido</h2>
        <table>
          <tr class="pedidos-header">
            <th class="numero-pedido">Nº do Pedido</th>
            <th>Quantidade</th>
            <th>Valor total</th>
            <th></th>
          </tr>

          <tr class="pedidos-body">
            <td class="numero-pedido">2132131</td>
            <td>1</td>
            <td>R$ 250.00</td>
            <td><button>Gerar boleto</button>
              </td>
          </tr>
        </table>
      </main>
    </div>
    
  </body>

  <footer> SHOEFIE © todos os direitos reservados</footer>

</html>
