<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/cadastro.css">
    <link rel="stylesheet" href="/public/stylesheets/header-button.css">
</head>

<body>
    <header>
        <div class="logo">SHOEFIE</div>
        <div class="nao-tem-conta">
            <div class="frase">
                Já tem uma conta?
            </div>
            <div>
                <button class="cadastrar">Faça login</button>
            </div>
        </div>
    </header>

    <main>
        <section>
            <img class="mulher" src="media/refreshing.svg" width="40%" alt="mulher bebendo suquinho">
        </section>

        <section class="inputs">

            <div class="field">
                <label for="nome">Nome</label>
                <input id="nome" name="nome" type="text">
            </div>

            <div class="field">
                <label for="telefone">Telefone</label>
                <input id="telefone" name="telefone" type="tel">
            </div>

            <div class="field">
                <label for="email">E-mail</label>
                <input id="email" name="email" type="email">
            </div>

            <div class="field">
                <label for="senha">Senha</label>
                <input id="senha" name="senha" type="password">
            </div>

            <div class="field">
                <label for="confirmaSenha">Confirme sua senha</label>
                <input id="confirmaSenha" name="confirmaSenha" type="password">
            </div>

            <a href="/" class="botao-cadastrar">Cadastrar</a>
        </section>

    </main>

    <footer> SHOEFIE © todos os direitos reservados</footer>

</body>

</html>