<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/stylesheets/carrinhoCompra.css"/>
    <link rel="stylesheet" href="/public/stylesheets/home.css"/>

    <title>SHOEFIE</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">SHOEFIE</div>

            <div id="pesquisar">
                <fieldset>
                    <img src="/public/media/icons/search.svg" alt="ícone de pesquisar" />
                    <input type="text" id="barra-de-pesquisa" placeholder="o que você procura?" />
                </fieldset>
            </div>

            <div class="icons">
                <img src="../public/media/icons/truck.svg" alt="Acompanhar envio"/>
                <img src="../public/media/icons/user.svg" alt="Perfil"/>
                <img
                src="../public/media/icons/shopping-bag.svg"
                alt="Carrinho de compras"
                />
                <img src="../public/media/icons/log-out.svg" alt="Logout"/>
            </div>

        </header>

        <section class="menu">
            <nav>
                <a href="">Lançamentos</a>
                <a href="">Ofertas</a>
                <a href="">Masculino</a>
                <a href="">Feminino</a>
                <a href="">Infantil</a>
            </nav>
        </section>

        <div class="carrinho">
            <p class="ccompras">Carrinho de compras</p>

            <div>
                <ul>
                    <li>Produto</li>
                    <li>Quantidade</li>
                    <li>Preço</li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>