<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/carrinhoCompra.css" />
    <link rel="stylesheet" href="/stylesheets/shared/header-icons.css" />
    <link rel="stylesheet" href="/stylesheets/shared/footer.css" />
    <link rel="shortcut icon" href="/media/icons/logo.png" />
    <title>SHOEFIE</title>
  </head>

  <header>
    <div class="logo">
      <a href="/">SHOEFIE</a>
    </div>

    <div class="icons">
      <a href="/pedidos/shipping"
        ><img src="../media/icons/truck.svg" alt=""
      /></a>
      <a href="/usuarios/profile"
        ><img src="../media/icons/user.svg" alt="" /><a href=""></a
      ></a>
      <a href=""><img src="../media/icons/shopping-bag.svg" alt="" /></a>
      <a onclick="logoff()" href="/usuarios/logoff"
        ><img src="../media/icons/log-out.svg" alt=""
      /></a>
    </div>
  </header>

  <body>
    <section class="menu">
      <nav>
        <a href="/categorias/produtos#masculino">MASCULINO</a>
        <a href="/categorias/produtos#feminino">FEMININO</a>
        <a href="/categorias/produtos#infantil">INFANTIL</a>
      </nav>
    </section>

    <div class="container">
      <div class="basket">
        <p class="resumo">Carrinho de compra</p>

        <div class="basket-labels">
          <div>Item</div>
          <div>Preço</div>
          <div>Quantidade</div>
          <div>Subtotal</div>
        </div>

        <div id="carrinho">
          <div class="basket-product">
            <div class="item">
              <div class="product-image">
                <img />
              </div>

              <div class="product-details">
                <p><strong></strong></p>
                <p></p>
              </div>
            </div>

            <div class="quantity">
              <a href=""></a>
              <a href=""></a>
            </div>

            <div class="subtotal"></div>

            <div class="remove">
              <a href="" onclick="">
                <img />
              </a>
            </div>
          </div>
        </div>

        <div class="total" id="total">
          <p></p>
        </div>
      </div>
      <div class="button-compra">
        <a href="/cadastros/endereco">
          <button class="comprar">
            Dados de envio
            <img src="/media/icons/arrow-right.svg" alt="seta para a direita" />
          </button>
        </a>
      </div>
    </div>

    <footer>shoefie © todos os direitos reservados</footer>

    <script>
      let produtos = localStorage.getItem('carrinho');
      let produtoCarrinho = JSON.parse(produtos);
      let conteudo = '';
      for (let produto of produtoCarrinho.produtos) {
        conteudo += `
        <div class="basket-product">

          <div class="item">

            <div class="product-image">
              <img src="${
                produto.imagem
              }" alt="Placholder Image" class="product-frame">
            </div>

            <div class="product-details">
              <p><strong> ${produto.nome}</strong></p>
              <p>Product Code - ${produto.id}</p>
            </div>

          </div>

          <div class="price">${produto.preco}</div>

          <div class="quantity">
            <a href="" onclick="adicionar(${produto.qtd},${produto.id})">+</a>
            <p class="quantity-field"> ${produto.qtd} </p>
            <a href="" onclick="subtrair(${produto.qtd},${produto.id})">-</a>
          </div>

          <div class="subtotal">
            <p>R$ ${produto.preco * produto.qtd}.00</p>
            <div class="remove">
              <a href="" onclick="remover(${produto.id})">
                <img src="/media/icons/trash.svg" alt="lixo" id="lixo"/>
              </a>
            </div>
          </div>

        </div>
        `;
      }

      document.getElementById('carrinho').innerHTML = conteudo;

      const total = produtoCarrinho.produtos
        .map((v) => v.preco * v.qtd)
        .reduce((total, current) => total + current, 0);
      const qtdTotal = produtoCarrinho.produtos
        .map((v) => v.qtd)
        .reduce((qtdTotal, current) => qtdTotal + current, 0);
      if (qtdTotal > 1) {
        conteudo = `<p>(${qtdTotal} Itens) R$ ${total}.00</p>`;
      } else {
        conteudo = `<p>(${qtdTotal} Item) R$ ${total}.00</p>`;
      }

      document.getElementById('total').innerHTML = conteudo;

      function remover(id) {
        let produtos = localStorage.getItem('carrinho');
        let produtoCarrinho = JSON.parse(produtos);
        let index = produtoCarrinho.produtos.findIndex((obj) => obj.id == id);
        produtoCarrinho.produtos.splice(index, 1);
        localStorage.setItem('carrinho', JSON.stringify(produtoCarrinho));
      }

      function adicionar(qtd, id) {
        let produtos = localStorage.getItem('carrinho');
        let produtoCarrinho = JSON.parse(produtos);
        let index = produtoCarrinho.produtos.findIndex((obj) => obj.id == id);
        produtoCarrinho.produtos[index].qtd = qtd + 1;
        localStorage.setItem('carrinho', JSON.stringify(produtoCarrinho));
      }

      function subtrair(qtd, id) {
        if (qtd > 1) {
          let produtos = localStorage.getItem('carrinho');
          let produtoCarrinho = JSON.parse(produtos);
          let index = produtoCarrinho.produtos.findIndex((obj) => obj.id == id);
          produtoCarrinho.produtos[index].qtd = qtd - 1;
          localStorage.setItem('carrinho', JSON.stringify(produtoCarrinho));
        } else {
          alert(`Para remover clique na lixeira!`);
        }
      }

      function logoff() {
        localStorage.clear();
      }
    </script>
  </body>
</html>
