<!DOCTYPE html>
<html lang="pt-br">

        <div class="icons">
          <a href="/pedidos/shipping"
            ><img src="../media/icons/truck.svg" alt=""
          /></a>
          <a href="/usuarios/profile"
            ><img src="../media/icons/user.svg" alt="" /><a href=""></a
          ></a>
          <a href="/carrinho"
            ><img src="../media/icons/shopping-bag.svg" alt=""
          /></a>
          <a onclick="logoff()" href="/usuarios/logoff"
            ><img src="../media/icons/log-out.svg" alt=""
          /></a>
        </div>
        <div>
          <p class="quantidade">Quantidade</p>
        </div>
        <div>
          <p class="preco">Preço</p>
        </div>
      </div>

      <div id="carrinho">
        <div class="box-produtos" id="box-produtos">
          <div class="produto-nome">
            <p><strong></strong></p>
          </div>

          <div class="qtd-produto">
            <p><a href="">-</a> <a href="">+</a></p>
          </div>

          <div class="produto-valor">
            <p></p>
            <div class="lixo">
              <a href=""><img src="/media/icons/trash.svg" alt="lixo" id="lixo" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="total">
        <p>Subtotal(1 Item): R$ 250,00</p>
      </div>

      <div class="button-compra">
        <button class="comprar">
          CONFIRMAR COMPRA
          <img src="/media/icons/arrow-right.svg" alt="seta para a direita" />
        </button>
      </div>
    </div>
  </div>

  <script>
    let produtos = localStorage.getItem('carrinho');
    let produtoCarrinho = JSON.parse(produtos);
    let conteudo = '';
    for (let produto of produtoCarrinho.produtos) {
      console.log(produto);
      conteudo += `
        <div class="box-produtos">
          <div class="produto-nome">
            <p><strong> ${produto.nome}</strong></p>
          </div>

          <div class="qtd-produto">
            <p><a href="">+</a> 1 <a href="">-</a></p>
          </div>

          <div class="produto-valor">
            <p>${produto.preco}</p>
            <div class="lixo">
              <a href=""
                ><img src="/media/icons/trash.svg" alt="lixo" id="lixo"
              /></a>
            </div>
          </div>
        </div>`;
    }

    console.log(conteudo);

    document.getElementById('carrinho').innerHTML = conteudo;
  </script>
</body>

<<<<<<< HEAD
      document.getElementById('carrinho').innerHTML = conteudo;
    </script>

    <script>
      function logoff() {
        localStorage.clear();
      }
    </script>
  </body>
=======
<footer>shoefie © todos os direitos reservados</footer>
>>>>>>> e4e7ea41d848df3bcf6ae53ff86353b67cabd23a

</html>