<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/confirmacaoEntrega.css">
    <link rel="stylesheet" href="/stylesheets/shared/header-icons.css">
    <link rel="stylesheet" href="/stylesheets/shared/footer.css">
    <link rel="shortcut icon" href="/Logo.png">
    <title>Confirmação de Entrega</title>
</head>

<body>

    <div class="container">

        <header>
            <div class="logo">
                <a href="">SHOEFIE</a>
            </div>
            <div class="icons">
                <img src="/media/icons/truck.svg" alt="Acompanhar envio" />
                <a href="/profile">
                    <img src="/media/icons/user.svg" alt="Perfil" />
                </a>
                <img src="/media/icons/shopping-bag.svg" alt="Carrinho de compras" />
                <img src="/media/icons/log-out.svg" alt="Logout" />
            </div>
        </header>

        <main>
            <div class="formulario">
                <form>
                    <div class="mensagem">
                        <p>Informações de envio</p>
                    </div>

                    <div class="campo">
                        <input type="text" name="nome" id="nome" placeholder="*Nome">
                    </div>

                    <div class="campo">
                        <input type="text" name="sobrenome" id="sobrenome" placeholder="*Sobrenome" required>
                    </div>

                    <div class="campo">
                        <input type="text" name="endereco" id="endereco" placeholder="*Endereço">
                    </div>

                    <div class="campo">
                        <input type="text" name="telefone" id="telefone" placeholder="*Telefone">
                    </div>

                    <div class="campo">
                        <input type="text" name="cep" id="cep" placeholder="*CEP/Codigo Postal">
                    </div>

                    <div class="campo">
                        <input type="text" name="estado" id="estado" placeholder="*Estado">
                    </div>

                    <div class="campo">
                        <input type="name" name="cidade" id="cidade" placeholder="*Cidade">
                    </div>

                    <div class="campo">
                        <input type="text" name="cpf" id="cpf" placeholder="*Número do CPF">
                    </div>

                    <div class="proceder">
                        <button class="botao-enviar" type="submit">
                            Proceder para compra
                            <img src="/media/icons/arrow-right.svg" alt="">
                        </button>
                    </div>
                </form>
            </div>

            <div class="bannerEntrega">
                <img src="/media/ilustracao/Dog call.svg" alt="imagemEntrega">
            </div>

        </main>
</body>

<footer> SHOEFIE © todos os direitos reservados</footer>

</html>