<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/finalizarPagamento.css" />
  <link rel="stylesheet" href="/stylesheets/shared/header-icons.css" />
  <link rel="stylesheet" href="/stylesheets/shared/footer.css">
  <link rel="shortcut icon" href="/media/icons/logo.png" />
  <script src="/scripts/shoppingCart.js" defer></script>
  <title>SHOEFIE</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/">SHOEFIE</a>
    </div>

    <div class="icons">
      <a href="/pedidos/shipping"><img src="/media/icons/truck.svg" alt=""></a>
      <a href="/usuarios/profile"><img src="/media/icons/user.svg" alt=""><a href=""></a></a>
      <a href="/carrinho"><img src="/media/icons/shopping-bag.svg" alt=""></a>
      <a onclick="logoff()" href="/usuarios/logoff"><img src="/media/icons/log-out.svg" alt=""></a>
    </div>
  </header>

  <div class="container">

    <div class="basket">
      <p class="resumo">Resumo do envio</p>
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Preço</li>
          <li class="quantity">Quantidade</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>


      <div id="carrinho">
        <div class="basket-product">
          <div class="item">
            <div class="product-image">
              <img src="" alt="Placholder Image 2" class="product-frame">
            </div>
            <div class="product-details">
              <p><strong></strong></p>
              <p></p>
            </div>
          </div>
          <div class="price"></div>
          <div class="quantity">
            <p class="quantity-field">1</p>
          </div>
          <div class="subtotal"></div>
          <div class="remove">
            <button>Remover</button>
          </div>
        </div>
      </div>


    </div>
    <aside>
      <p>Finalize seu pagamento</p>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Valor das compras</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal"></div>
        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total"></div>
        </div>
        <div class="summary-checkout">
          <button onclick="finalizar()" class="checkout-cta" >Gerar boleto</button>
        </div>
      </div>
    </aside>
  </div>
  </main>

  <script>
    let produtos = localStorage.getItem('carrinho');
    let produtoCarrinho = JSON.parse(produtos);
    let conteudo = '';
    for (let produto of produtoCarrinho.produtos) {
      console.log(produto);
      conteudo += `
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="${produto.imagem}" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <p><strong>${produto.nome}</strong></p>
            <p>Product Code - ${produto.id}</p>
          </div>
        </div>
        <div class="price">${produto.preco}</div>
        <div class="quantity">
          <p class="quantity-field">${produto.qtd}</p>
        </div>
        <div class="subtotal">${produto.preco * produto.qtd}</div>
        <div class="remove">
          <button>Remover</button>
        </div>
      </div>`;
    }

    console.log(conteudo);

    document.getElementById('carrinho').innerHTML = conteudo;

    function finalizar() {
      fetch('http://localhost:3000/pedidos', {
        method: 'POST',
        headers: {
         'Content-Type': 'application/json',
        },
          body: `{\"statusPedido\":1,\"dataVencimento\":\"2021-05-05T16:44:02.561Z\",\"usuarios_id\":\"${productsCarrinho.usuario_id}\"}`,
        })
          .then((response) => response.json())
          .then((data) => {
            for (let produto of productsCarrinho.produtos) {
              console.log(produto);
              console.log(data.id);
            }
          })
          .catch((err) => {
            console.error(err);
          });
    }

    const total = produtoCarrinho.produtos.map((v) => v.preco *v.qtd ).reduce((total, current) => total + current, 0);
    
    conteudo = `<p>${total}</p>`;

    document.getElementById('basket-total').innerHTML = conteudo;
    document.getElementById('basket-subtotal').innerHTML = conteudo;


  </script>

<script>
  function logoff() {
    localStorage.clear();
  }
</script>
</body>

<footer>shoefie © todos os direitos reservados</footer>

</html>