<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/public/stylesheets/produtos.css" />
  <link rel="stylesheet" href="/public/stylesheets/shared/header-icons.css" />

  <link rel="stylesheet" href="/public/stylesheets/OwlCarousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/OwlCarousel/owl.theme.default.min.css" />

  <title>Produtos | SHOEFIE</title>
</head>

<body>
  <header>
    <div class="logo">SHOEFIE</div>
    <div class="icons">
      <img src="../public/media/icons/truck.svg" alt="Acompanhar envio" />
      <img src="../public/media/icons/user.svg" alt="Perfil" />
      <img src="../public/media/icons/shopping-bag.svg" alt="Carrinho de compras" />
      <img src="../public/media/icons/log-out.svg" alt="Logout" />
    </div>
  </header>

  <section class="menu">
    <nav>
      <a href="">LANÇAMENTOS</a>
      <a href="">OFERTAS</a>
      <a href="">MASCULINO</a>
      <a href="">FEMININO</a>
      <a href="">INFANTIL</a>
    </nav>
  </section>

  <div class="carrossel">
    <h1 class="titulo-carrossel"> Femininos </h1>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="/public/media/femininos/1 - Nairobi.jpg" />
        <p>Nairobi</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/2 - Hiral.jpg" />
        <p>Hiral</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/03 - Vamvouras.jpg" />
        <p>Vamvouras</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/04 - Anubhaw.jpg" />
        <p>Anubhaw</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/05 - Mel.jpg" />
        <p>Mel</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/06 - Fernandes.jpg" />
        <p>Fernandes</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/07 - Jacobina.jpg" />
        <p>Jacobina</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/08 - Miss.jpg" />
        <p>Miss</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/09 - Jack.jpg" />
        <p>Jack</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/10 - Godess.jpg" />
        <p>Godess</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/11 - Io.jpg" />
        <p>Io</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/12 - Marina.jpg" />
        <p>Marina</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/13 - Pazanni.jpg" />
        <p>Pazanni</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/14 - Polianskaia.jpg" />
        <p>Polianskaia</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/15 - Kristine.jpg" />
        <p>Kristine</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/16 - Liso.jpg" />
        <p>Liso</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/17 - Ogo.jpg" />
        <p>Ogo</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/18 - Nadezhda.jpg" />
        <p>Nadezhda</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/19 - Furia.jpg" />
        <p>Furia</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/femininos/20 - Camy.jpg" />
        <p>Camy</p>
        <h5>R$200</h5>
      </div>
    </div>
  </div>

  <div class="carrossel">
    <h1 class="titulo-carrossel">Masculinos</h1>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="/public/media/masculinos/01 - Cottonbro.jpg" />
        <p>Cottonbro</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/02 - Hassan.jpg" />
        <p>Hassan</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/03 - Anderson.jpg" />
        <p>Anderson</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/04- Neue.jpg" />
        <p>Neue</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/05 - Aman.jpg" />
        <p>Aman</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/06 - Edson.jpg" />
        <p>Edson</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/07 - Loki.jpg" />
        <p>Loki</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/08 - Luiz.jpg" />
        <p>Luiz</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/09 - Nasx.jpg" />
        <p>Nasx</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/10 - Oliver.jpg" />
        <p>Oliver</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/11 - Sahi.jpg" />
        <p>Sahi</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media//masculinos/12 - Tyler.jpg" />
        <p>Tyler</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/13 - Muse.jpg" />
        <p>Muse</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/14 - Gustav.jpg" />
        <p>Gustav</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/15 - Herbert.jpg" />
        <p>Herbert</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/16 - Matt.jpg" />
        <p>Matt</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/17 - Jeremyhann.jpg" />
        <p>Jeremyhann</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/18 - Prayoon.jpg" />
        <p>Prayoon</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/masculinos/19 - Guilherme.jpg" />
        <p>Guilherme</p>
        <h5>R$200</h5>
      </div>
    </div>
  </div>

  <div class="carrossel">
    <h1 class="titulo-carrossel">Infantil</h1>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="/public/media/infantil/1 - Amina.jpg" />
        <p>Amina</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/2 - Alice.jpg" />
        <p>Alice</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/3 - Slip.png" />
        <p>Slip</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/4 - Alicia.jpg" />
        <p>Alicia</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/5 - Dominik.jpg" />
        <p>Dominik</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/6 - Amina.jpg" />
        <p>Amina</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/7 - Mikail.jpg" />
        <p>Mikail</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/8 - Budgeron.jpg" />
        <p>Budgeron</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/9- Tuan.jpg" />
        <p>Tuan</p>
        <h5>R$200</h5>
      </div>

      <div class="item">
        <img src="/public/media/infantil/10 - GrlPwr.jpg" />
        <p>GrlPwr</p>
        <h5>R$200</h5>
      </div>

    </div>
  </div>

  <script src="https://kit.fontawesome.com/e288b4d2a5.js" crossorigin="anonymous"></script>
  <script src="js/OwlCarousel/jquery.min.js"></script>
  <script src="js/OwlCarousel/owl.carousel.min.js"></script>
  <script src="js/OwlCarousel/main.js"></script>
</body>

</html>