<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/produto.css">
    <link rel="stylesheet" href="/public/stylesheets/shared/header-icons.css">
    <title>Registre-se</title>
</head>

<body>

    <header>
        <div class="logo">SHOEFIE</div>
        <div class="icons">
            <img src="../public/media/icons/truck.svg" alt="Acompanhar envio" />
            <img src="../public/media/icons/user.svg" alt="Perfil" />
            <img src="../public/media/icons/shopping-bag.svg" alt="Carrinho de compras" />
            <img src="../public/media/icons/log-out.svg" alt="Logout" />
        </div>
    </header>

    

</body>

</html>