<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/produto.css" />
    <link rel="stylesheet" href="/stylesheets/shared/header-icons.css" />

    <link
      rel="stylesheet"
      href="/stylesheets/OwlCarousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/OwlCarousel/owl.theme.default.min.css"
    />

    <title>Produtos | SHOEFIE</title>
  </head>

  <body>
    <header>
      <div class="logo">SHOEFIE</div>
      <div class="icons">
        <img src="../media/icons/truck.svg" alt="Acompanhar envio" />
        <img src="../media/icons/user.svg" alt="Perfil" />
        <img src="../media/icons/shopping-bag.svg" alt="Carrinho de compras" />
        <img src="../media/icons/log-out.svg" alt="Logout" />
      </div>
    </header>

    <p>Femininos</p>

    <div class="carrossel">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="/media/femininos/1 - Nairobi.jpg" />
          <p>Nairobi</p>
        </div>

        <div class="item">
          <img src="/media/femininos/2 - Hiral.jpg" />
          <p>Hiral</p>
        </div>

        <div class="item">
          <img src="/media/femininos/03 - Vamvouras.jpg" />
          <p>Vamvouras</p>
        </div>

        <div class="item">
          <img src="/media/femininos/04 - Anubhaw.jpg" />
          <p>Anubhaw</p>
        </div>

        <div class="item">
          <img src="/media/femininos/05 - Mel.jpg" />
          <p>Mel</p>
        </div>

        <div class="item">
          <img src="/media/femininos/06 - Fernandes.jpg" />
          <p>Fernandes</p>
        </div>

        <div class="item">
          <img src="/media/femininos/07 - Jacobina.jpg" />
          <p>Jacobina</p>
        </div>

        <div class="item">
          <img src="/media/femininos/08 - Miss.jpg" />
          <p>Miss</p>
        </div>

        <div class="item">
          <img src="/media/femininos/09 - Jack.jpg" />
          <p>Jack</p>
        </div>

        <div class="item">
          <img src="/media/femininos/10 - Godess.jpg" />
          <p>Godess</p>
        </div>

        <div class="item">
          <img src="/media/femininos/11 - Io.jpg" />
          <p>Io</p>
        </div>

        <div class="item">
          <img src="/media/femininos/12 - Marina.jpg" />
          <p>Marina</p>
        </div>

        <div class="item">
          <img src="/media/femininos/13 - Pazanni.jpg" />
          <p>Pazanni</p>
        </div>

        <div class="item">
          <img src="/media/femininos/14 - Polianskaia.jpg" />
          <p>Polianskaia</p>
        </div>

        <div class="item">
          <img src="/media/femininos/15 - Kristine.jpg" />
          <p>Kristine</p>
        </div>

        <div class="item">
          <img src="/media/femininos/16 - Liso.jpg" />
          <p>Liso</p>
        </div>

        <div class="item">
          <img src="/media/femininos/17 - Ogo.jpg" />
          <p>Ogo</p>
        </div>

        <div class="item">
          <img src="/media/femininos/18 - Nadezhda.jpg" />
          <p>Nadezhda</p>
        </div>

        <div class="item">
          <img src="/media/femininos/19 - Furia.jpg" />
          <p>Furia</p>
        </div>

        <div class="item">
          <img src="/media/femininos/20 - Camy.jpg" />
          <p>Camy</p>
        </div>

        <div class="item">
          <img src="/media/femininos/21 - Sollie.jpg" />
          <p>Sollie</p>
        </div>

        <div class="item">
          <img src="/media/femininos/22 - Ariana.jpg" />
          <p>Ariana</p>
        </div>

        <div class="item">
          <img src="/media/femininos/23 - Dids.jpg" />
          <p>Dids</p>
        </div>

        <div class="item">
          <img src="/media/femininos/24 - Manu.jpg" />
          <p>Manu</p>
        </div>

        <div class="item">
          <img src="/media/femininos/25 - Bey.jpg" />
          <p>Bey</p>
        </div>

        <div class="item">
          <img src="/media/femininos/26 - Alice.jpg" />
          <p>Alice</p>
        </div>

        <div class="item">
          <img src="/media/femininos/27 - Andressa.jpg" />
          <p>Andressa</p>
        </div>

        <div class="item">
          <img src="/media/femininos/28 - Claire.jpg" />
          <p>Claire</p>
        </div>

        <div class="item">
          <img src="/media/femininos/29 - Javon.jpg" />
          <p>Javon</p>
        </div>

        <div class="item">
          <img src="/media/femininos/30 - Anna.jpg" />
          <p>Anna</p>
        </div>
      </div>
    </div>

    <p>Masculinos</p>

    <div class="carrossel">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="/media/masculinos/01 - Cottonbro.jpg" />
          <p>Cottonbro</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/02 - Hassan.jpg" />
          <p>Hassan</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/03 - Anderson.jpg" />
          <p>Anderson</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/04- Saad.jpg" />
          <p>Saad</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/05 - Aman.jpg" />
          <p>Aman</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/06 - Edson.jpg" />
          <p>Edson</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/07- Loki.jpg" />
          <p>Loki</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/08 - Luiz.jpg" />
          <p>Luiz</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/09 - Nasx.jpg" />
          <p>Nasx</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/10 - Oliver.jpg" />
          <p>Oliver</p>
        </div>

        <div class="item">
          <img src="/media/masculinos/11 - Sahi.jpg" />
          <p>Sahi</p>
        </div>

        <div class="item">
          <img src="/media/femininos/12 - Marina.jpg" />
          <p>Marina</p>
        </div>

        <div class="item">
          <img src="/media/femininos/13 - Pazanni.jpg" />
          <p>Pazanni</p>
        </div>

        <div class="item">
          <img src="/media/femininos/14 - Polianskaia.jpg" />
          <p>Polianskaia</p>
        </div>

        <div class="item">
          <img src="/media/femininos/15 - Kristine.jpg" />
          <p>Kristine</p>
        </div>

        <div class="item">
          <img src="/media/femininos/16 - Liso.jpg" />
          <p>Liso</p>
        </div>

        <div class="item">
          <img src="/media/femininos/17 - Ogo.jpg" />
          <p>Ogo</p>
        </div>

        <div class="item">
          <img src="/media/femininos/18 - Nadezhda.jpg" />
          <p>Nadezhda</p>
        </div>

        <div class="item">
          <img src="/media/femininos/19 - Furia.jpg" />
          <p>Furia</p>
        </div>

        <div class="item">
          <img src="/media/femininos/20 - Camy.jpg" />
          <p>Camy</p>
        </div>

        <div class="item">
          <img src="/media/femininos/21 - Sollie.jpg" />
          <p>Sollie</p>
        </div>

        <div class="item">
          <img src="/media/femininos/22 - Ariana.jpg" />
          <p>Ariana</p>
        </div>

        <div class="item">
          <img src="/media/femininos/23 - Dids.jpg" />
          <p>Dids</p>
        </div>

        <div class="item">
          <img src="/media/femininos/24 - Manu.jpg" />
          <p>Manu</p>
        </div>

        <div class="item">
          <img src="/media/femininos/25 - Bey.jpg" />
          <p>Bey</p>
        </div>

        <div class="item">
          <img src="/media/femininos/26 - Alice.jpg" />
          <p>Alice</p>
        </div>

        <div class="item">
          <img src="/media/femininos/27 - Andressa.jpg" />
          <p>Andressa</p>
        </div>

        <div class="item">
          <img src="/media/femininos/28 - Claire.jpg" />
          <p>Claire</p>
        </div>

        <div class="item">
          <img src="/media/femininos/29 - Javon.jpg" />
          <p>Javon</p>
        </div>

        <div class="item">
          <img src="/media/femininos/30 - Anna.jpg" />
          <p>Anna</p>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/e288b4d2a5.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/OwlCarousel/jquery.min.js"></script>
    <script src="js/OwlCarousel/owl.carousel.min.js"></script>
    <script src="js/OwlCarousel/main.js"></script>
  </body>
</html>
