<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/telaUsuario.css" />
    <link rel="stylesheet" href="/stylesheets/shared/header-icons.css">

    <title>SHOEFIE</title>

</head>

<body>
    <div>
        <header>
            <div class="logo">
                <a href="">SHOEFIE</a>
            </div>

            <section class="menu">
                <nav>
                    <a href="">Lançamentos</a>
                    <a href="">Ofertas</a>
                    <a href="">Masculino</a>
                    <a href="">Feminino</a>
                    <a href="">Infantil</a>
                </nav>
            </section>

            <div class="icons">
                <a href=""><img src="/media/icons/truck.svg" alt=""></a>
                <a href=""><img src="/media/icons/user.svg" alt=""><a href=""></a></a>
                <a href=""><img src="/media/icons/shopping-bag.svg" alt=""></a>
                <a href=""><img src="/media/icons/log-out.svg" alt=""></a>
            </div>
            
        </header>
        <h2 class="perfil">Seu Perfil</h2>

        <div class="formulario">
            <form class="dados">

                <label class="field">Nome</label>
                <input type="text" nome="nome" placeholder="Digite seu nome">

                <label class="field">Endereço</label>
                <input type="text" nome="Endereço" placeholder="Digite seu email">

                <label class="field">Telefone</label>
                <input type="tel" nome="Telefone" placeholder="Digite seu telefone">

                <label class="field">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email">

                <label class="field">Senha</label>
                <input type="password" name="senha" id="senha" min="6" max="12" placeholder="Digite sua senha">

                <div class="bt-editar">
                    <button class="botao-editar" type="submit">Editar</button>
                </div>
            </form>
        </div>

        <footer>
            shoefie © todos os direitos reservados
        </footer>
</body>

</html>