:root{
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #f2eeee;
}

body {
  background-color: #fff;
  color: #666;
  padding: 0;
  margin: 0;
}

button{
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 1px solid var(--preto);
  margin-bottom: 10px;
  padding: 2px;
}

button:hover,
button:focus{
  background-color: #555;
}

html,
body {
  height: 100%;
}
.conteudo {
  min-height: 80%;
}

.pedido-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

.acompanhe {
  font-weight: 700;
  font-family: 'Montserrat';
}

.box-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #111;
}

.pedido{
  width: 25%;
}

.boleto{
  width: 25%;
}

.preco{
  width: 25%;
}

.botao{
  width: 25%;
}

.box-id {
  display: flex;
  border-bottom: #111;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #111;
  margin-top: 10px;
}

.produto-nome{
  width: 25%;
}

.boletoCode{
  width: 25%;
}

.boleto-valor{
  width: 25%;
}
