body {
  background-color: #fff;
  color: #666;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  transition: 0.2s ease-out;
  background-color: #555;
}

.pedido-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

.acompanhe {
  font-family: "Montserrat";
}

.box-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #111;
}

.box-id {
  display: flex;
  border-bottom: #111;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #111;
  margin-top: 10px;
}
