:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #F2EEEE;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

main {
  display: flex;
}

.bannerCadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

div .bannerCadastro {
  width: 50%;
}

.dados {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

div .formulario {
  margin: 0 auto;
  display: inline;
  justify-content: flex-end;
  width: 50%;
}

p {
  text-align: center;
  font-size: 30px;
  width: 400px;
  margin-bottom: 25px;
}

input {
  background-color: var(--cinza);
  border: solid 1px var(--cinza);
  padding: 8px;
  margin-bottom: 10px;
  width: 350px;
  height: 45px;
}

button.botao-enviar {
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 5px;
  border: 3px solid var(--preto);
  background-color: var(--preto);
  color: var(--branco);
}

.bt-cadastro {
  margin: 0 auto;
}

label.field{ 
  display: flex;
  text-align: flex-start;
}