:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: flex;
}

.bannerCadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  width: 500px;
}

.dados {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  margin: 0px 60%;
}

h3 {
  text-align: left;
  font-size: 30px;
  width: 400px;
  margin-bottom: 25px;
}

label {
  text-align: flex-start;
  font-size: 20px;
  margin-top: 10px;
}

input {
  background-color: var(--cinza);
  border: solid 1px var(--cinza);
  padding: 8px;
  min-width: 100%;
  margin-bottom: 10px;
}

button.botao-enviar{
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 5px;
  border: 3px solid var(--preto);
  background-color: var(--preto);
  color: var(--branco);
}

div .bannerCadastro {
  width: 50%;
}

div .formulario {
  width: 50%;
}