:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #f2eeee;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

div .bannerCadastro {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div .formulario {
  width: 50%;
}

.bannerCadastro img {
  width: 80%;
}

.mensagem {
  flex-wrap: wrap;
  text-align: left;
  font-size: 30px;
  margin-bottom: 25px;
}

.formulario {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex; 
  margin-bottom: 10px;
}

.formulario input {
  background-color: var(--cinza);
  border: solid 1px var(--cinza);
  padding: 8px;
  width: 50%;
  margin-bottom: 10px;
  margin-bottom: 30px;
}

.botao-enviar {
  padding: 8px 30px;
  border-radius: 5px;
  border: 3px solid var(--preto);
  background-color: var(--preto);
  color: var(--branco);
}

.bt-cadastro {
  display: flex;
  justify-content: center;
}

.box {
  flex-direction: column;
  display: flex;
  align-items: center;
}
