:root{
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #f2eeee;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: var(--preto);
}

body{
  background-color: #fff;
  color: #666;
  margin: 0 auto;
  max-width: 1200px;
}

button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 1px solid var(--preto);
  padding: 5px 12px;
}

button:hover,
button:focus {
  background-color: #555;
}

html,
body{
  height: 100%;
}

section nav a {
  text-decoration: none;
  color: var(--preto);
  padding: 10px;
  margin: 0 auto;
}

section nav a:hover {
  color: var(--hover);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

strong{
  font-weight: bold;
}

.resumo{
  font-size: 25px;
}

.basket img,
.basket-product{
  width: 100%;
}

.basket-module{
  color: #111;
}

label{
  display: block;
}

.basket-labels{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
  padding: 10px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

.remove{
  width: 20px;
  margin-bottom: 20px;
}

.item{
  display: flex;
  width: 25%;
}

.basket-product{
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.product-image{
  width: 25%;
}

.product-details{
  width: 75%;
}

.product-frame{
  border: 1px solid #aaa;
}

.product-detail {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field{
  text-align: center;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 2px;
  margin-bottom: 0;
  width: 3rem;
}

.quantity{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtotal{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.price{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  padding-left: 3.5%;
}

.total{
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 20px;
}

.button-compra{
  display: flex;
  justify-content: flex-end;
}