:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #f2eeee;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button {
  cursor: pointer;
}

.formulario {
  width: 50%;
}

.bannerEntrega {
  width: 50%;
}

.bannerEntrega img {
  width: 80%;
}

main {
  display: flex;
  width: 100%;
}

.mensagem {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  flex-direction: column;
  background-color: var(--cinza);
  border: solid 1px var(--cinza);
  padding: 8px;
  margin-bottom: 10px;
  width: 50%;
  margin-bottom: 15px;
}

.botao-enviar {
  font-size: 15px;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid var(--preto);
  background-color: var(--preto);
  color: var(--branco);
}

.proceder {
  display: flex;
  justify-content: center;
}

.proceder button {
  display: flex;
  justify-content: center;
  align-items: center;
}
