:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  height: 100%;
  min-height: 100%;
}

#pesquisar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#pesquisar input {
  border: none;
  width: 300px;
  height: 35px;
  background-color: var(--cinza);
  font-size: 12px;
}

#pesquisar img {
  width: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

fieldset {
  border: 1px solid var(--cinza);
  background-color: var(--cinza);
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

section nav a {
  text-decoration: none;
  color: var(--preto);
  padding: 10px;
  margin: 0 auto; /* NÃO ALINHA */
}

section nav a:hover {
  color: var(--hover);
}

body {
  font-family: "Montserrat";
  background-color: var(--branco);
  color: var(--preto);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.comprar {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: var(--preto);
  border: 3px solid var(--preto);
  color: var(--branco);
  justify-content: flex-end;
}

#carouselExampleControls {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
}

.botao-comprar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.botao-comprar:hover {
  color: var(--hover);
}

.redes-sociais {
  display: flex;
}

.redes-sociais img {
  width: 24px;
  padding-bottom: 10px;
  margin: 5px;
}

.cadastrar:hover {
  background-color: #69696941;
  transition: 0.2s ease-out;
}
