:root {
  --preto: #000000;
  --branco: #ffffff;
  --amarelo: #f5ba25;
  --hover: #696969;
  --cinza: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: var(--branco);
  color: var(--preto);
  font-size: 14px;
}

h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 600;
}

.titulo-carrossel {
  font-size: 20px;
}

.item img {
  border-radius: 5px;
}

p {
font-size: 12px;
}

.carrossel {
  margin: 10px 100px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}


section nav a {
  text-decoration: none;
  color: var(--preto);
  padding: 10px;
  margin: 0 auto; /* NÃO ALINHA */
}

section nav a:hover {
  color: var(--hover);
}