.redes-sociais {
  padding-top: 15px;
  justify-content: center;
  display: flex;
}

.redes-sociais img {
  width: 24px;
  padding-bottom: 10px;
  margin: 5px;
}

footer{
  margin-top: auto;
  text-align: center;
}
