header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 3px;
  justify-content: center;
}

.cadastrar {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: var(--branco);
  border: 3px solid var(--preto);
  color: var(--preto);
  font-family: "Montserrat";
  font-size: 16px;
  width: 145px;
  height: 40px;
}

.frase {
  margin-right: 10px;
  font: 16px;
}

.nao-tem-conta {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
