header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 3px;
}

.cadastrar {
  padding: 6px 20px;
  border-radius: 5px;
  background-color: var(--branco);
  border: 3px solid var(--preto);
  color: var(--preto);
}

.frase {
  margin-right: 10px;
}

.nao-tem-conta {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}